Repository raj-open/herz: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test-py, clean-nb-v, clean-nb-meta, qa

lint:
  name: Lint files
  description: This hook performs linting on files.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-lint \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

test-py:
  name: Test python files
  description: This hook performs checks to see if test in this file are green.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-test-py \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

clean-nb-v:
  name: Clean outputs from python notebooks
  description: This hook cleans python notebooks.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-clean-ipynb-outputs \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

clean-nb-meta:
  name: Clean metadata from python notebooks
  description: This hook cleans python notebooks.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-clean-ipynb-meta \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

qa:
  name: QA
  description: This hook performs QA on all files before a push.
  pass_filenames: false
  language: system
  args: []
  entry: "bash -c '\n  just githook-qa;\n'"
  verbose: true
  stages:
  - pre-push

dev > main: models for p/v markers
  documentation/models/app/Models/AppConfigSettings.md
  documentation/models/app/Models/MarkerConfig.md
  documentation/models/app/README.md
  src/models/app/__init__.py
  src/models/schema-app.yaml
  src/setup/config.py
  src/setup/config.yaml
  src/setup/plots.py
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: V-special pts - cleaned up plots - cleaned up execution - splitting methods now correct
  notebooks/main.ipynb
  src/algorithms/peaks.py
  src/algorithms/special.py
  src/core/log.py
  src/main.py
  src/models/schema-user.yaml
  src/setup/config.yaml
  src/setup/plots.py
  src/steps/__init__.py
  src/steps/step_align_cycles.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_cycles.py
  templates/template-config.yaml
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: preliminary 2d plots
  src/algorithms/special.py
  src/main.py
  src/models/internal/__init__.py
  src/models/internal/info.py
  src/setup/config.yaml
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: refactoring
  notebooks/main.ipynb
  src/algorithms/special.py
  src/main.py
  src/steps/__init__.py
  src/steps/methods.py
  src/steps/step_align_cycles.py
  src/steps/step_combine_data.py
  src/steps/step_fit_curve.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_cycles.py
  src/steps/step_recognise_peaks.py
  src/steps/step_shift_data.py
  src/thirdparty/types.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: added models
  documentation/models/app/Models/AppConfigSettings.md
  documentation/models/app/Models/EnumCriticalPoints.md
  documentation/models/app/Models/MatchingConfig.md
  documentation/models/app/Models/PolyCritCondition.md
  documentation/models/app/Models/PolynomialConfig.md
  documentation/models/app/Models/SpecialPointsConfig.md
  documentation/models/app/Models/SpecialPointsConfigs.md
  documentation/models/app/Models/SpecialPointsSpec.md
  documentation/models/app/README.md
  documentation/models/internal/Models/EnumExtremePoints.md
  documentation/models/internal/README.md
  src/models/app/__init__.py
  src/models/enums/__init__.py
  src/models/internal/__init__.py
  src/models/internal/points.py
  src/models/schema-app.yaml
  src/models/schema-internal.yaml
  src/models/user/__init__.py
  src/setup/config.py
  src/setup/config.yaml
  src/setup/plots.py
  src/setup/series.py
Due: lint, qa

dev > main: core methods + tests
  src/core/constants.py
  src/core/graph.py
  src/core/poly.py
  src/core/utils.py
  tests/tests_core/tests_graph.py
  tests/tests_core/tests_poly.py
Due: lint, test-py, qa

dev > main: added re-fit methods - re-wrote steps and algorithms in terms of new data structures - no longer hard-code recognition of special points - this is now a configuration
  notebooks/main.ipynb
  src/algorithms/fit.py
  src/algorithms/special.py
  src/core/utils.py
  src/main.py
  src/models/internal/points.py
  src/steps/__init__.py
  src/steps/step_fit_curve.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_points.py
  src/steps/step_shift_data.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: added fast build to githook-qa task
  justfile
Due: qa

dev > main: readme reworked, titles corrected
  README.md
  notebooks/main.ipynb
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: added requirement + task
  justfile
  pyproject.toml
  requirements.txt
Due: qa

dev > main: requirement
  pyproject.toml
  requirements.txt
Due: qa

dev > main: updated core methods - esp. classification of critical points
  src/core/constants.py
  src/core/crit.py
  src/core/log.py
  src/core/poly.py
  src/core/utils.py
  src/models/internal/points.py
  src/thirdparty/maths.py
Due: lint, qa

dev > main: reworked steps/algorithms to recognise special pts
  src/algorithms/fit.py
  src/algorithms/points.py
  src/setup/config.yaml
  src/steps/step_fit_curve.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_points.py
  src/steps/step_shift_data.py
Due: lint, qa

dev > main: updated unit tests
  tests/tests_core/tests_crit.py
  tests/tests_core/tests_poly.py
Due: lint, test-py, qa

dev > main: updated execution scripts
  notebooks/main.ipynb
  src/main.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: updated models
  src/models/schema-app.yaml
Due: qa

dev > main: updated models - added methods to shift conditions
  documentation/models/app/Models/AppConfigSettings.md
  documentation/models/app/Models/SpecialPointsSpec.md
  documentation/models/app/Models/TimeInterval.md
  documentation/models/app/README.md
  src/models/internal/__init__.py
  src/models/internal/conditions.py
  src/models/internal/poly.py
  src/models/schema-app.yaml
Due: lint, qa

dev > main: cleaned up re-fit method
  src/algorithms/fit.py
  src/core/utils.py
  src/setup/config.py
  src/setup/series.py
  src/steps/__init__.py
  src/steps/step_fit_curve.py
Due: lint, qa

dev > main: update setting
  src/setup/config.yaml
Due: qa

dev > main: prevent explosion by the recognition of points
  src/core/crit.py
Due: lint, qa

dev > main: fixed transformation and plotting of special points
  src/models/internal/__init__.py
  src/models/internal/points.py
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: default = not VERBOSE
  templates/template-config.yaml
Due: qa

dev > main: separate colours for pressure / volume
  src/setup/config.yaml
Due: qa

dev > main: added tags to cells
  notebooks/main.ipynb
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: VERSION up (minor)
  dist/VERSION
  pyproject.toml
  src/models/common.yaml
  src/models/schema-app.yaml
  src/models/schema-internal.yaml
  src/models/schema-user.yaml
Due: qa

dev > main: cleaned up handling of epsilon-nearness
  src/algorithms/points.py
  src/core/crit.py
  src/core/epsilon.py
  src/core/log.py
  src/core/utils.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_points.py
  src/thirdparty/maths.py
Due: lint, qa

dev > main: VERSION up (patch)
  dist/VERSION
  pyproject.toml
  src/models/common.yaml
  src/models/schema-app.yaml
  src/models/schema-internal.yaml
  src/models/schema-user.yaml
  src/setup/config.yaml
Due: qa

dev > main: refactored onb methods to algorithms
  src/algorithms/onb.py
  src/core/poly.py
  src/models/internal/__init__.py
  tests/tests_algorithms/tests_onb.py
Due: lint, test-py, qa

dev > main: changed enum-values
  src/models/schema-app.yaml
  src/setup/config.yaml
Due: qa

dev > main: minor refactor
  src/algorithms/fit.py
Due: lint, qa

dev > main: minor cleanup
  src/algorithms/points.py
  src/core/crit.py
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: corrected import
  src/algorithms/fit.py
Due: lint, qa

dev > main: minor
  src/core/crit.py
Due: lint, qa

dev > main: adjusted models
  documentation/models/app/Models/SpecialPointsConfig.md
  documentation/models/app/Models/SpecialPointsSpec.md
  src/models/schema-app.yaml
Due: qa

dev > main: minor changes to steps
  src/algorithms/points.py
  src/models/internal/__init__.py
  src/models/internal/points.py
  src/setup/series.py
  src/steps/step_fit_curve.py
  src/steps/step_shift_data.py
Due: lint, qa

dev > main: re-added shifting in plots
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: updated excecution scripts - removed re-fitting -> just use shifting
  notebooks/main.ipynb
  src/main.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: adjusted settings for models
  src/setup/config.yaml
Due: qa

dev > main: user mode changed
  documentation/models/user/Models/UserCase.md
  src/models/schema-user.yaml
  templates/template-config.yaml
Due: qa

Path conditions:
  lint: any of: ^(src|tests|notebooks|examples)/.*\.(py|ipynb)$
  test-py: any of: ^tests/(tests_[^/]+/)*tests_[^/]+\.py$
  clean-nb-v: any of: ^notebooks/.*\.ipynb$
  clean-nb-meta: any of: ^.*\.ipynb$
  qa: any of: .*
