Repository raj-open/herz: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test-py, clean-nb-v, clean-nb-meta, qa

.pre-commit-config.yaml:

# ----------------------------------------------------------------
# Automates pre-commit actions,
# e.g. linting, prettify, removal of artefacts/sensitive data, etc.
#
# NOTE: To use this run
#
# 1. python3 -m pip install pre-commit
# 2. python3 -m pre-commit install # in the repository
#
# After completing 2, upon every commit the hook will be called.
# ----------------------------------------------------------------
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push

fail_fast: true

repos:
  - repo: local
    hooks:

    - id: commit-message
      name: Commit Message
      description: |-
        This hook ensures that commit messages conform to the schema.
      # SIMPLER METHOD, but allows any branch name:
      # language: pygrep
      # args: [ '--negate' ]
      # entry: '^\S+(-\S+)* > \S+(-\S+)*:\s+\S+(\s*\S+)*$'
      # MORE COMPLICATED, but checks branch names:
      language: system
      args: []
      entry: |-
        python -c "
        import os;
        import sys;
        import re;

        def bash_stdout(cmd):
          result = os.popen(cmd).read().strip();
          return result.split('\n');

        with open('.git/COMMIT_EDITMSG', 'r') as fp:
          message = ''.join(fp.readlines()).strip();

        if re.match(pattern=r'^Merge .* into .*$', string=message):
          exit(0);

        branch = bash_stdout('git rev-parse --abbrev-ref HEAD')[0];
        branch_history = bash_stdout('git show-branch -a | head -n2');
        line = branch_history[1];
        parent = re.sub(pattern=r'^[!\*\s]*\[(.*?)\].*$', repl=r'\1', string=line);

        prefix = f'{branch} > {parent}: ';
        print('commit message matches expected:');
        print('');
        print(f'    {prefix}{{your message}}');

        if message.startswith(prefix):
          exit(0);
        else:
          exit(1);
        "
      verbose: true
      stages: [ commit-msg ]

  - repo: local
    hooks:

    - id: lint
      name: Lint files
      description: |-
        This hook performs linting on files.
      files: '^(src|tests|notebooks|examples)/.*\.(py|ipynb)$'
      pass_filenames: true
      language: system
      args: []
      entry: |-
        bash -c '
          just githook-lint "$0";
        '
      verbose: true
      stages: [ pre-commit ]

    - id: test-py
      name: Test python files
      description: |-
        This hook performs checks to see if test in this file are green.
      files: '^tests/(tests_[^/]+/)*tests_[^/]+\.py$'
      pass_filenames: true
      language: system
      args: []
      entry: |-
        bash -c '
          just githook-test-py "$0";
        '
      verbose: true
      stages: [ pre-commit ]

    - id: clean-nb-v
      name: Clean outputs from python notebooks
      description: |-
        This hook cleans python notebooks.
      files: '^notebooks/.*\.ipynb$'
      pass_filenames: true
      language: system
      args: []
      entry: |-
        bash -c '
          just githook-clean-ipynb-outputs "$0";
        '
      verbose: true
      stages: [ pre-commit ]

    - id: clean-nb-meta
      name: Clean metadata from python notebooks
      description: |-
        This hook cleans python notebooks.
      files: '^.*\.ipynb$'
      pass_filenames: true
      language: system
      args: []
      entry: |-
        bash -c '
          just githook-clean-ipynb-meta "$0";
        '
      verbose: true
      stages: [ pre-commit ]

  - repo: local
    hooks:

    - id: qa
      name: QA
      description: |-
        This hook performs QA on all files before a push.
      files: '.*'
      pass_filenames: false
      language: system
      args: []
      entry: |-
        bash -c '
          just githook-qa;
        '
      verbose: true
      stages: [ pre-push ]

dev > main: updated execution scripts
  notebooks/main.ipynb
  src/main.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: updated default template
  templates/template-config.yaml
Due: qa

dev > main: updated models
  documentation/models/app/Models/AppConfig.md
  documentation/models/app/Models/AppConfigSettings.md
  documentation/models/app/Models/AppInfo.md
  documentation/models/app/Models/AppUnits.md
  documentation/models/app/README.md
  documentation/models/user/Models/DataTypeColumn.md
  documentation/models/user/Models/UserCase.md
  documentation/models/user/Models/UserConfig.md
  documentation/models/user/Models/UserOutput.md
  documentation/models/user/Models/UserProcess.md
  documentation/models/user/README.md
  src/models/app/__init__.py
  src/models/schema-app.yaml
  src/models/schema-user.yaml
  src/models/user/__init__.py
  src/setup/config.py
  src/setup/config.yaml
  src/setup/conversion.py
  templates/template-config.yaml
Due: lint, qa

dev > main: better use of cases + conversions in steps
  src/steps/step_combine_data.py
  src/steps/step_output_plots.py
  src/steps/step_output_tables.py
  src/steps/step_process_data.py
  src/steps/step_read_data.py
Due: lint, qa

dev > main: use of cases in execution scripts
  notebooks/main.ipynb
  src/main.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: corrected fname label
  src/steps/step_output_tables.py
Due: lint, qa

dev > main: added in save
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: added ignore-case
  documentation/models/user/Models/UserCase.md
  src/models/schema-user.yaml
  src/setup/config.py
  templates/template-config.yaml
Due: lint, qa

dev > main: added method to extract real poly roots
  src/core/constants.py
  src/core/poly.py
Due: lint, qa

dev > main: added error catching for missing column
  src/steps/step_read_data.py
Due: lint, qa

dev > main: updated execution-script
  src/main.py
Due: lint, qa

dev > main: refactored models - also added poly conditions as internal settings
  documentation/models/app/Models/PolynomialCondition.md
  documentation/models/app/Models/PolynomialSetting.md
  documentation/models/app/README.md
  src/core/poly.py
  src/models/app/__init__.py
  src/models/app/poly.py
  src/models/schema-app.yaml
  src/setup/config.py
  src/setup/config.yaml
  templates/template-config.yaml
Due: lint, qa

dev > main: minor 3rd party
  src/thirdparty/maths.py
Due: lint, qa

dev > main: started to treat pressure/volume separately
  src/algorithms/fit.py
  src/main.py
  src/steps/__init__.py
  src/steps/step_combine_data.py
  src/steps/step_output_tables.py
  src/steps/step_process_data.py
  src/steps/step_read_data.py
Due: lint, qa

dev > main: moved and fixed unit tests
  tests/tests_core/tests_poly.py
  tests/tests_models/__init__.py
  tests/tests_models/tests_app/__init__.py
  tests/tests_models/tests_app/conftest.py
  tests/tests_models/tests_app/tests_poly.py
  tests/tests_models/tests_user/__init__.py
  tests/tests_models/tests_user/conftest.py
Due: lint, test-py, qa

dev > main: minor
  .pre-commit-config.yaml
Due: qa

dev > main: faster computation - fixed poly methods - faster matrix computations instead of for-loops
  src/core/poly.py
  src/models/app/poly.py
  src/thirdparty/maths.py
Due: lint, qa

dev > main: fixed and extended unit-tests
  tests/tests_core/tests_poly.py
  tests/tests_models/tests_app/tests_poly.py
  tests/thirdparty/unit.py
Due: lint, test-py, qa

dev > main: output plots for single time-series
  src/steps/__init__.py
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: added integral conditions
  documentation/models/app/Models/PolyDerCondition.md
  documentation/models/app/Models/PolyIntCondition.md
  documentation/models/app/README.md
  src/models/app/__init__.py
  src/models/schema-app.yaml
Due: lint, qa

dev > main: added utils for integrals and norms
  src/core/utils.py
Due: lint, qa

dev > main: minor
  tests/tests_models/tests_app/tests_poly.py
Due: lint, test-py, qa

dev > main: shift based on peaks or troughs - compute and record cycle length - shift first, then compute cycles - store original time-values
  notebooks/main.ipynb
  src/algorithms/cycles.py
  src/algorithms/fit.py
  src/core/utils.py
  src/main.py
  src/steps/__init__.py
  src/steps/step_process_data.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: fixed missing conversions + added units in tables
  src/setup/conversion.py
  src/steps/step_output_plots.py
  src/steps/step_output_tables.py
  src/thirdparty/physics.py
Due: lint, qa

dev > main: cleaned up normalisation of polynomials - correct storage of polynomial infos - computation of mean / median aspects - added expression output
  src/algorithms/fit.py
  src/core/poly.py
  src/setup/conversion.py
  src/steps/step_output_tables.py
  src/steps/step_process_data.py
  src/thirdparty/misc.py
Due: lint, qa

dev > main: execution scripts
  notebooks/main.ipynb
  src/main.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: added technical documentation
  README.md
  documentation/README.md
Due: qa

dev > main: new model + refactoring
  documentation/README.md
  documentation/models/internal/Models/FittedInfo.md
  documentation/models/internal/Models/FittedInfoNormalisation.md
  documentation/models/internal/README.md
  src/algorithms/fit.py
  src/main.py
  src/models/internal/__init__.py
  src/models/internal/info.py
  src/models/internal/poly.py
  src/models/schema-internal.yaml
  src/steps/step_process_data.py
  tests/tests_models/tests_internal/__init__.py
  tests/tests_models/tests_internal/conftest.py
  tests/tests_models/tests_internal/tests_poly.py
Due: lint, test-py, qa

dev > main: preparation for new step - special pts
  src/algorithms/special.py
  src/main.py
  src/steps/__init__.py
  src/steps/step_special_points.py
  src/thirdparty/maths.py
Due: lint, qa

dev > main: added methods to classify critical pts
  src/algorithms/fit.py
  src/algorithms/special.py
  src/core/constants.py
  src/core/poly.py
  src/core/utils.py
  src/models/internal/poly.py
  src/steps/step_process_data.py
  src/thirdparty/maths.py
  tests/tests_core/tests_poly.py
Due: lint, test-py, qa

dev > main: preliminary method - recognise points
  src/algorithms/fit.py
  src/algorithms/special.py
  src/core/poly.py
  src/core/utils.py
  src/main.py
  src/setup/config.yaml
  src/steps/__init__.py
  src/steps/step_fit_curve.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_cycles.py
  src/steps/step_recognise_points.py
  templates/template-config.yaml
Due: lint, qa

dev > main: register once - otherwise execution slow
  src/thirdparty/physics.py
Due: lint, qa

dev > main: added models + internal configs for markers
  documentation/models/app/Models/AppConfigSettings.md
  documentation/models/app/Models/MarkerSettings.md
  documentation/models/app/README.md
  src/algorithms/special.py
  src/models/internal/__init__.py
  src/models/schema-app.yaml
  src/setup/config.py
  src/setup/config.yaml
  src/steps/step_output_plots.py
  src/steps/step_output_tables.py
Due: lint, qa

dev > main: added method to 3rd party
  src/thirdparty/maths.py
Due: lint, qa

dev > main: updated plot outputs - single cycle
  src/algorithms/special.py
  src/main.py
  src/models/internal/__init__.py
  src/models/internal/info.py
  src/setup/config.yaml
  src/steps/__init__.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_points.py
  templates/template-config.yaml
Due: lint, qa

dev > main: updated technical documentation
  documentation/README.md
Due: qa

dev > main: allow recentering plots - sorted/changed markers for points
  documentation/models/app/Models/MarkerSettings.md
  src/algorithms/special.py
  src/core/constants.py
  src/core/poly.py
  src/core/utils.py
  src/models/schema-app.yaml
  src/setup/config.yaml
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: added in original data to plots
  notebooks/main.ipynb
  src/algorithms/fit.py
  src/main.py
  src/models/internal/__init__.py
  src/models/internal/info.py
  src/steps/step_fit_curve.py
  src/steps/step_output_plots.py
  src/steps/step_recognise_points.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: added better progress logging
  src/core/log.py
  src/main.py
Due: lint, qa
