Repository raj-open/herz: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test-py, clean-nb-v, clean-nb-meta, qa

lint:
  name: Lint files
  description: This hook performs linting on files.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-lint \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

test-py:
  name: Test python files
  description: This hook performs checks to see if test in this file are green.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-test-py \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

clean-nb-v:
  name: Clean outputs from python notebooks
  description: This hook cleans python notebooks.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-clean-ipynb-outputs \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

clean-nb-meta:
  name: Clean metadata from python notebooks
  description: This hook cleans python notebooks.
  pass_filenames: true
  language: system
  args: []
  entry: "bash -c '\n  just githook-clean-ipynb-meta \"$0\";\n'"
  verbose: true
  stages:
  - pre-commit

qa:
  name: QA
  description: This hook performs QA on all files before a push.
  pass_filenames: false
  language: system
  args: []
  entry: "bash -c '\n  just githook-qa;\n'"
  verbose: true
  stages:
  - pre-push

dev > main: cleaned time adjustment methods + propert reference to name
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: updated matching
  src/setup/config.yaml
Due: qa

dev > main: updated documentation
  documentation/README.md
Due: qa

dev > main: removed 'remove-bad' step
  notebooks/main.ipynb
  src/main.py
  src/src/__init__.py
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: corrected requirements checker
  justfile
Due: qa

dev > main: updated notation + all 9 points
  documentation/README.md
Due: qa

dev > main: minor
  src/src/__init__.py
Due: lint, qa

dev > main: remove reliance on PATH for tool
  justfile
Due: qa

dev > main: moved dev-only tool
  justfile
Due: qa

dev > main: updated technical notes
  documentation/README.md
Due: qa

dev > main: fixed save-pattern for template
  templates/template-config.yaml
Due: qa

dev > main: minor rename
  justfile
Due: qa

dev > main: minor correction
  documentation/README.md
Due: qa

dev > main: deep copies instead of shallow copies
  src/models/internal/conditions.py
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: added text/pos to configs
  src/models/schema-app.yaml
  src/setup/config.yaml
Due: qa

dev > main: renormalise -> unnormalise
  src/algorithms/points.py
  src/models/internal/__init__.py
  src/models/internal/points.py
  src/steps/step_fit_curve.py
  src/steps/step_output_plots.py
Due: lint, qa

dev > main: cleanup
  notebooks/main.ipynb
Due: lint, clean-nb-v, clean-nb-meta, qa

dev > main: LaTeX -> HTML
  src/setup/config.yaml
Due: qa

dev > main: minor
  documentation/README.md
Due: qa

dev > main: python version
  README.md
  justfile
  pyproject.toml
Due: qa

dev > main: added fourier transform methods for polynomials + tests
  src/core/signal.py
  src/thirdparty/maths.py
  tests/tests_core/tests_signal.py
Due: lint, test-py, qa

dev > main: fixed fouriert-poly methods
  src/core/signal.py
  tests/tests_core/tests_signal.py
Due: lint, test-py, qa

dev > main: corrected processes
  justfile
Due: qa

dev > main: reduce traceback in unit tests
  pyproject.toml
Due: qa

dev > main: cleaner handling of python version
  .gitignore
  README.md
  justfile
  pyproject.toml
  templates/template.env
Due: qa

dev-poly > dev: added enum
  documentation/models/app/Models/MarkerSettings.md
  documentation/models/app/Models/SpecialPointsConfig.md
  documentation/models/internal/Models/EnumSign.md
  documentation/models/internal/README.md
  src/models/enums/__init__.py
  src/models/schema-internal.yaml
Due: lint, qa

dev-poly > dev: fixed githook
  .pre-commit-config.yaml
Due: qa

dev-poly > dev: minor
  src/algorithms/bad_points.py
  src/algorithms/cycles.py
  src/algorithms/points.py
  src/core/constants.py
  src/core/utils.py
  src/thirdparty/maths.py
Due: lint, qa

dev-poly > dev: simplified eps-methods
  src/core/crit.py
  src/core/epsilon.py
Due: lint, qa

dev-poly > dev: added class-methods for poly+rational
  src/models/poly/__init__.py
  src/models/poly/poly.py
  src/models/poly/rational.py
Due: lint, qa

dev-poly > dev: fixed unit test
  src/core/crit.py
  src/core/epsilon.py
Due: lint, qa

dev > main: updated project settings
  .behaverc
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/README.md
  justfile
  poetry.lock
  pyproject.toml
  requirements.txt
Due: qa

dev > main: restructured entry points
  src/__paths__.py
  src/api.py
  src/cli.py
  src/main.py
  src/paths.py
Due: lint, qa

dev > main: updated thirdparty dependencies
  src/thirdparty/code.py
  src/thirdparty/config.py
  src/thirdparty/data.py
  src/thirdparty/fastapi.py
  src/thirdparty/io.py
  src/thirdparty/log.py
  src/thirdparty/maths.py
  src/thirdparty/misc.py
  src/thirdparty/nn.py
  src/thirdparty/physics.py
  src/thirdparty/plots.py
  src/thirdparty/render.py
  src/thirdparty/sync.py
  tests/behave/thirdparty/__init__.py
  tests/behave/thirdparty/behave.py
  tests/behave/thirdparty/code.py
  tests/behave/thirdparty/system.py
  tests/behave/thirdparty/types.py
  tests/unit/thirdparty/__init__.py
  tests/unit/thirdparty/unit.py
Due: lint, qa

dev > main: added queries and updated setup
  src/queries/__init__.py
  src/queries/console/__init__.py
  src/queries/console/api.py
  src/queries/console/basic.py
  src/queries/console/cli.py
  src/queries/environment/__init__.py
  src/queries/environment/basic.py
  src/queries/environment/http.py
  src/queries/fitting/__init__.py
  src/queries/fitting/series.py
  src/queries/scientific/__init__.py
  src/queries/scientific/conversion.py
  src/setup/__init__.py
  src/setup/config.py
Due: lint, qa

dev > main: updated core methods
  src/core/crit.py
  src/core/epsilon.py
  src/core/graph.py
  src/core/log.py
  src/core/log/__init__.py
  src/core/log/basic.py
  src/core/log/decorators.py
  src/core/log/progress.py
  src/core/poly.py
  src/core/signal.py
  src/core/timing/__init__.py
  src/core/timing/countdown.py
  src/core/timing/decorators.py
  src/core/utils.py
Due: lint, qa

dev > main: added guards
  src/guards/__init__.py
  src/guards/files.py
  src/guards/http.py
Due: lint, qa

dev > main: refactored and moved steps
  src/algorithms/bad_points.py
  src/algorithms/cycles.py
  src/algorithms/fit.py
  src/algorithms/onb.py
  src/algorithms/peaks.py
  src/algorithms/points.py
  src/endpoints/__init__.py
  src/endpoints/right_ventricle/__init__.py
  src/endpoints/right_ventricle/endpoint.py
  src/endpoints/right_ventricle/steps/__init__.py
  src/endpoints/right_ventricle/steps/methods.py
  src/endpoints/right_ventricle/steps/step_align_cycles.py
  src/endpoints/right_ventricle/steps/step_combine_data.py
  src/endpoints/right_ventricle/steps/step_fit_curve.py
  src/endpoints/right_ventricle/steps/step_output_plots.py
  src/endpoints/right_ventricle/steps/step_output_tables.py
  src/endpoints/right_ventricle/steps/step_read_data.py
  src/endpoints/right_ventricle/steps/step_recognise_cycles.py
  src/endpoints/right_ventricle/steps/step_recognise_peaks.py
  src/endpoints/right_ventricle/steps/step_recognise_points.py
  src/endpoints/right_ventricle/steps/step_shift_data.py
  src/endpoints/run.py
  src/setup/series.py
  src/steps/step_align_cycles.py
  src/steps/step_recognise_peaks.py
Due: lint, qa

dev > main: added ui for api mode
  src/ui/__init__.py
  src/ui/basic.py
  src/ui/endpoints/__init__.py
  src/ui/endpoints/common.py
  src/ui/endpoints/decorators.py
  src/ui/endpoints/ep_basic.py
  src/ui/endpoints/ep_run.py
Due: lint, qa

Path conditions:
  lint: any of: ^(src|tests|notebooks|examples)/.*\.(py|ipynb)$
  test-py: any of: ^tests/(tests_[^/]+/)*tests_[^/]+\.py$
  clean-nb-v: any of: ^notebooks/.*\.ipynb$
  clean-nb-meta: any of: ^.*\.ipynb$
  qa: any of: .*
