Repository raj-open/herz: changes, and which pre-commit hooks are due for each by the changed paths.
All: python, python-notebooks

python:
  name: Python files
  description: This hook performing linting on python code.
  language: system
  args: []
  entry: bash -c 'just githook-py "$0"'
  pass_filenames: true
  verbose: true

python-notebooks:
  name: Python notebooks
  description: This hook performing linting on python notebooks.
  language: system
  pass_filenames: true
  args: []
  entry: bash -c 'just githook-ipynb "$0"'
  verbose: true

main > main: minor correction
  justfile
Due: none

main > main: added requirement
  pyproject.toml
  requirements.txt
Due: none

main > main: set fast-fail to true
  .pre-commit-config.yaml
Due: none

dev > main: minor
  .pre-commit-config.yaml
  README.md
Due: none

dev > main: added `git add` at end of hooks
  justfile
Due: none

dev > main: modified workflows and githooks
  .pre-commit-config.yaml
  justfile
Due: none

dev > main: minor correction
  src/core/utils.py
Due: python

dev > main: init test folder
  .coveragerc
  .gitignore
  tests/__init__.py
  tests/paths.py
  tests/resources/__init__.py
  tests/tests_algorithms/__init__.py
  tests/tests_algorithms/conftest.py
  tests/tests_algorithms/tests_cycles.py
  tests/tests_algorithms/tests_peaks.py
  tests/tests_core/__init__.py
  tests/tests_core/conftest.py
  tests/tests_core/tests_log.py
  tests/tests_core/tests_utils.py
  tests/thirdparty/__init__.py
  tests/thirdparty/unit.py
Due: python

dev > main: refactorisation
  src/algorithms/__init__.py
  src/algorithms/cycles.py
  src/algorithms/peaks.py
  src/paths.py
  src/setup/config.py
  src/steps/step_process_data.py
Due: python

dev > main: updated documentation
  .gitignore
  CONTRIBUTING.md
  README.md
Due: none

dev > main: added hook for commit-msg
  .pre-commit-config.yaml
Due: none

dev > main: removed generated files
  .gitignore
  src/models/generated/__init__.py
  src/models/generated/app.py
  src/models/generated/user.py
Due: python

dev > main: githooks for ipynb now discriminate - metadata always wiped - outputs only wiped from notebooks folder
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
Due: none

main > main: added workflow
  .github/workflows/basic.yaml
Due: none

main > main: updated .gitignore
  .gitignore
Due: none

main > main: workflow on pull-requests + qa steps
  .github/workflows/basic.yaml
Due: none

main > main: simplified branch-name checking
  .pre-commit-config.yaml
Due: none

main > main: renamed job
  .github/workflows/basic.yaml
Due: none

main > main: separate jobs for pr and dispatch
  .github/workflows/basic.yaml
Due: none

main > main: anchors not supported
  .github/workflows/basic.yaml
Due: none

main > main: split jobs into separate files
  .github/workflows/automatic.yaml
  .github/workflows/manual.yaml
Due: none

main > main: renamed workflows
  .github/workflows/automatic.yaml
  .github/workflows/manual.yaml
Due: none

dev > main: refactored cycle-cleanup
  src/algorithms/cycles.py
  src/steps/step_process_data.py
Due: python

dev > main: added methods for polynomial fitting
  src/algorithms/fit.py
  src/core/utils.py
  src/steps/__init__.py
  src/steps/step_process_data.py
  src/thirdparty/maths.py
Due: python

dev > main: new naming schema for columns
  src/steps/step_output_plots.py
Due: python

dev > main: added sub-step to run scripts
  notebooks/main.ipynb
  src/main.py
Due: python, python-notebooks

dev > main: corrected task
  justfile
Due: none

dev > main: added polynomial fitting via orthogonality
  src/algorithms/cycles.py
  src/algorithms/fit.py
  src/core/poly.py
  src/core/utils.py
  src/steps/__init__.py
  src/steps/step_output_plots.py
  src/steps/step_process_data.py
Due: python

dev > main: added 3rd party
  pyproject.toml
  requirements.txt
  src/thirdparty/maths.py
Due: python

dev > main: added unit test
  tests/tests_core/tests_poly.py
Due: python

dev > main: updated execution
  notebooks/main.ipynb
  src/main.py
Due: python, python-notebooks

dev > main: updated models
  documentation/models/user/Models/EnumFittingMode.md
  documentation/models/user/Models/UserConfig.md
  documentation/models/user/Models/UserData.md
  documentation/models/user/Models/UserProcessing.md
  documentation/models/user/README.md
  src/models/schema-user.yaml
  src/models/user/__init__.py
  src/setup/config.py
  src/steps/step_combine_data.py
  templates/template-config.yaml
Due: python

dev > main: updated execution scripts
  notebooks/main.ipynb
  src/main.py
Due: python, python-notebooks

dev > main: refactor
  src/algorithms/bad_points.py
  src/algorithms/cycles.py
  src/steps/step_process_data.py
Due: python

dev > main: display fit curves and derivatives
  src/steps/step_output_plots.py
  src/thirdparty/plots.py
Due: python

dev > main: fitting - refactored + optional average
  src/algorithms/fit.py
  src/steps/step_process_data.py
Due: python

dev > main: updated outputs
  src/steps/step_output_plots.py
  src/steps/step_output_tables.py
Due: python

Path conditions:
  python: any of: ^(src|tests)/.*\.py$
  python-notebooks: any of: ^(notebooks)/.*\.ipynb$
